################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpecFlowMVPTurnUp/TestResults
/SpecFlowMVPTurnUp/.vs
/SpecFlowMVPTurnUp/bin/Debug/net6.0
/SpecFlowMVPTurnUp/obj
/.vs
